<label class="col-span-12 sm:col-span-5 md:col-span-4 py-2 sm:pr-2 sm:mb-5 text-gray-600 font-medium break-words" for="attribute-{{.Name}}">{{.attribute.Label}}</label>
<div class="col-span-12 sm:col-span-7 md:col-span-8 mb-5 sm:mb-7">
  <input type="hidden" name="attributes[{{.index}}].name" value="{{.attribute.Name}}">
  {{if eq .attribute.Type "text"}}
  {{template "partials/attribute-edit-text" .}}
  {{else if eq .attribute.Type "textarea"}}
  {{template "partials/attribute-edit-textarea" .}}
  {{else if eq .attribute.Type "number"}}
  {{template "partials/attribute-edit-number" .}}
  {{else if eq .attribute.Type "boolean"}}
  {{template "partials/attribute-edit-boolean" .}}
  {{else if eq .attribute.Type "radios"}}
  {{template "partials/attribute-edit-radios" .}}
  {{else if eq .attribute.Type "checkboxes"}}
  {{template "partials/attribute-edit-checkboxes" .}}
  {{else if eq .attribute.Type "select"}}
  {{template "partials/attribute-edit-select" .}}
  {{else if eq .attribute.Type "date"}}
  {{template "partials/attribute-edit-date" .}}
  {{else if eq .attribute.Type "datetime"}}
  {{template "partials/attribute-edit-datetime" .}}
  {{else}}
  <p class="pt-2">
  (Onbekend type veld)
  </p>
  {{end}}
</div>
